@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hidayatullah';
    src: url('/fonts/Hidayatullah-DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
