@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hidayatullah';
    src: url('/fonts/Hidayatullah-DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    /* Spacer khusus mobile agar snackbar floating tidak menutupi tombol / konten terbawah */
    .pb-mobile-nav {
        padding-bottom: 6.5rem !important; /* 104px */
    }
}

@media (max-width: 767px) {
    body {
        padding-bottom: 2rem;
    }
}
